<div class="flex flex-col max-w-400 md:min-w-160 max-h-screen -m-3">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">                

      <mat-form-field appearance="fill" class="w-full">                    
        <input matInput 
        placeholder="Add new" 
        
        [formControl]="importControl" 
        [matAutocomplete]="autoImportador">
        <mat-autocomplete #autoImportador="matAutocomplete" (optionSelected)="onImportSelected($event)">
          <mat-option *ngFor="let import of importFiltrados$ | async" [value]="import">
            {{ import.name }}
          </mat-option>
        </mat-autocomplete>                    
      </mat-form-field>
          
          <input type="hidden" formControlName="importador_id">

          <mat-form-field appearance="fill" class="w-full">                    
            <input matInput
                   placeholder="Add year"     
                                                         
                   [formControl]="aniosControl"
                   [matAutocomplete]="autoAnio">
            <mat-autocomplete #autoAnio="matAutocomplete" (optionSelected)="onAnioSelected($event)">
              <mat-option *ngFor="let anio of aniosFiltrados$ | async" [value]="anio.name">
                {{ anio.name }}
              </mat-option>
            </mat-autocomplete>                    
          </mat-form-field>

        <mat-form-field class="w-full">
        <input matInput formControlName="hfc" id="hfc">
        <mat-error *ngIf="signInForm.get('hfc').errors?.required"/>
        </mat-form-field>
        <mat-form-field class="w-full">
        <input matInput formControlName="hcfc" id="hcfc">
        <mat-error *ngIf="signInForm.get('hcfc').errors?.required"/>
        </mat-form-field>
        <div class="col-span-1 end-1">
          <button type="submit" class="px-5 save-button" mat-stroked-button color="primary">Guardar</button>
        </div>
    </div>
</form>
</div>