<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
       
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Lista de Grupos
                </h2>
            </div>
        </div>             
        <div class="p-4 flex items-center border rounded">
            <mat-icon matPrefix svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
            <input type="text" placeholder=" Buscar " [(ngModel)]="searchTerm" (input)="applyFilter()" class="flex-1">
        </div>
    </div>
    <div
        class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
        <ng-container *ngIf="(gruposusts ) as gruposusts">
            <div class="grid grid-cols-3 gap-4 py-4 px-6 md:px-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                <div [mat-sort-header]="'name'" (click)="orderBy('name')">Nombre</div>
                <div [mat-sort-header]="'activo'" (click)="orderBy('activo')">Activo</div>

                <div>Acciones</div> <!-- Columna para acciones -->                
            </div>            
            <!-- Rows -->            
            <ng-container *ngFor="let gruposust of filteredGruposusts; let i = index">
                <div class="grid grid-cols-3 items-center gap-4 py-2 px-6 md:px-12 border-b">
                    <!-- Solo mostrar campos si no se está editando este país en particular -->
                    <ng-container *ngIf="selectedGruposust?.id !== gruposust.id">
                    <div class="truncate">{{ gruposust.name }}</div>
                    <div class="flex items-center justify-start col-span-1">
                        <mat-slide-toggle [(ngModel)]="gruposust.activo" disabled/>                                              
                    </div>

                    <!-- Mostrar botones solo si no se está editando este país -->
                    <div *ngIf="selectedGruposust?.id !== gruposust.id" class="flex items-center">
                        <button mat-stroked-button (click)="selectGruposustForEdit(gruposust)" >
                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:pencil-square'"></mat-icon>
                            <span>Editar</span>
                        </button>                        
                    </div>
                </ng-container>
                </div>
                    <!-- Formulario de edición para el país actual -->
                    
                    <div *ngIf="selectedGruposust?.id === gruposust.id" @fadeOutRight class="flex items-center">
                        <div class="grid grid-cols-3 items-center gap-4 py-2 px-6 md:px-12 border-b">
                        <input [(ngModel)]="selectedGruposust.name" placeholder="Nombre" class="flex-1">
                        <mat-slide-toggle
                            [(ngModel)]="selectedGruposust.activo"
                            (change)="onActivoChange($event, selectedGruposust)"/>

                        <div class="flex items-center col-span-1 space-x-1">
                        <button mat-icon-button (click)="updateGruposust(selectedGruposust)" color="primary">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>                                                     
                        </button>
                        <button mat-icon-button (click)="cancelEdit()" color="accent">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:x-circle'"></mat-icon>                            
                        </button>
                        <button mat-icon-button (click)="deleteGruposust(gruposust.id)" color="warn">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:trash'"></mat-icon> 
                            
                        </button>
                    </div>
                    </div>
                    
                </div>
            </ng-container>
        <!--/ng-container-->
            <!-- Fila para agregar un nuevo usuario -->
            <form [formGroup]="signInForm" (ngSubmit)="addGruposust()">
            <div class="grid grid-cols-3 items-center gap-4 py-2 px-6 md:px-12 border-b">
                <mat-form-field class="w-full">                          
                    <input matInput formControlName="name" id="name">
                    <mat-error *ngIf="signInForm.get('name').errors?.required">
                      Nombre requerido
                    </mat-error>
                  </mat-form-field>
                  <mat-slide-toggle formControlName="activo"></mat-slide-toggle>              
                  <div>
                    <button type="submit" mat-stroked-button color="primary">Guardar</button>
                  </div>
            </div>
        </form>
        </ng-container>
        </div>

    </div>

</div>
