<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
       
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Lista de cupos
                </h2>
            </div>
        </div>             
        <div class="p-4 flex items-center border rounded">
            <mat-icon matPrefix svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
            <input type="text" placeholder=" Buscar " [(ngModel)]="searchTerm" (input)="applyFilter()" class="flex-1">
        </div>
    </div>
    <div
        class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
        <ng-container *ngIf="(cupos ) as cupos">
            <div class="grid grid-cols-5 gap-4 py-4 px-6 md:px-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                <div [mat-sort-header]="'importador'" (click)="orderBy('importador')">Importador</div>
                <div [mat-sort-header]="'anio'" (click)="orderBy('anio')">Año</div>
                <div [mat-sort-header]="'hfc'" (click)="orderBy('hfc')">HFC</div>
                <div [mat-sort-header]="'hcfc'" (click)="orderBy('hcfc')">HCFC</div>

                <div>Acciones</div> <!-- Columna para acciones -->                
            </div>            
            <!-- Rows -->            
            <ng-container *ngFor="let cupo of filteredCupos; let i = index">
                <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">
                    <!-- Solo mostrar campos si no se está editando este país en particular -->
                    <ng-container *ngIf="selectedCupo?.id !== cupo.id">
                    <div class="col-span-1">{{ cupo.importador }}</div>
                    <div class="col-span-1">{{ cupo.anio }}</div>
                    <div class="col-span-1">{{ cupo.hfc }}</div>
                    <div class="col-span-1">{{ cupo.hcfc }}</div>
                    
                    <!-- Mostrar botones solo si no se está editando este país -->
                    <div *ngIf="selectedCupo?.id !== cupo.id" class="col-span-1 flex items-center">
                        <button mat-stroked-button (click)="selectCupoForEdit(cupo)" >
                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:pencil-square'"></mat-icon>
                            <span>Editar</span>
                        </button>                        
                    </div>
                </ng-container>
                </div>
                    <!-- Formulario de edición para el país actual -->
                    
                    <div *ngIf="selectedCupo?.id === cupo.id" @fadeOutRight class="flex items-center">
                        <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">
                            <mat-form-field class="w-full">                            
                                <mat-select [(ngModel)]="selectedCupo.importador">
                                  <mat-option *ngFor="let import2 of importadors" [value]="import2.name">
                                    {{ import2.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        
                        <mat-form-field class="w-full">                            
                            <mat-select [(ngModel)]="selectedCupo.anio">
                              <mat-option *ngFor="let anio2 of anios" [value]="anio2.name">
                                {{ anio2.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        <input [(ngModel)]="selectedCupo.hfc" placeholder="HFC" class="flex-1">
                        <input [(ngModel)]="selectedCupo.hcfc" placeholder="HCFC" class="flex-1">
                        <div class="flex items-center col-span-1 space-x-1">
                        <button mat-icon-button (click)="updateCupo(selectedCupo)" color="primary">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>                                                     
                        </button>
                        <button mat-icon-button (click)="cancelEdit()" color="accent">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:x-circle'"></mat-icon>                            
                        </button>
                        <button mat-icon-button (click)="deleteCupo(cupo.id)" color="warn">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:trash'"></mat-icon> 
                            
                        </button>
                    </div>
                    </div>
                    
                </div>
            </ng-container>
        <!--/ng-container-->
            <!-- Fila para agregar un nuevo usuario -->
            <form [formGroup]="signInForm" (ngSubmit)="addCupo()">
            <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">
                <mat-form-field class="w-full">                    
                    <input type="text"
                           placeholder="Importador"
                           matInput
                           formControlName="importador"
                           [matAutocomplete]="autoImportador">
                    <mat-autocomplete #autoImportador="matAutocomplete" (optionSelected)="onImportSelected($event)">
                      <mat-option *ngFor="let import2 of importadors" [value]="import2.name">
                        {{ import2.name }}
                      </mat-option>
                    </mat-autocomplete>                       
                  </mat-form-field>
                  
                  <mat-form-field class="w-full">                    
                    <input type="text"
                           placeholder="Año"
                           matInput
                           formControlName="anio"
                           [matAutocomplete]="autoAnio">
                    <mat-autocomplete #autoAnio="matAutocomplete" (optionSelected)="onAnioSelected($event)">
                      <mat-option *ngFor="let anio2 of anios" [value]="anio2.name">
                        {{ anio2.name }}
                      </mat-option>
                    </mat-autocomplete>                       
                  </mat-form-field>     
                <mat-form-field class="w-full"> 
                <input matInput formControlName="hfc" id="hfc"> 
                <mat-error *ngIf="signInForm.get('hfc').errors?.required">
                    HFC requerido
                  </mat-error>   
                </mat-form-field>
                <mat-form-field class="w-full"> 
                <input matInput formControlName="hcfc" id="hcfc">
                <mat-error *ngIf="signInForm.get('hcfc').errors?.required">
                    HCFC requerido
                  </mat-error>   
                </mat-form-field>   
                <div>
                    <button type="submit" mat-stroked-button color="primary">Guardar</button>
                  </div>
            </div>
        </form>
        </ng-container>
        </div>

    </div>

</div>
