<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
       
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Lista de Importadores
                </h2>
            </div>
        </div>       
        <div class="p-4 flex items-center border rounded">
            <mat-icon matPrefix svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
            <input type="text" placeholder=" Buscar " [(ngModel)]="searchTerm" (input)="applyFilter()" class="flex-1 border-gray-300 rounded pl-2">
        </div>
    </div>
    <div
        class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>    
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
        <ng-container *ngIf="(importadors ) as importadors">
            <div class="grid grid-cols-4 gap-4 py-4 px-6 md:px-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                <div [mat-sort-header]="'name'" (click)="orderBy('name')">Nombre</div>
                <div [mat-sort-header]="'ruc'" (click)="orderBy('ruc')">RUC</div>
                <div [mat-sort-header]="'user_import'" (click)="orderBy('user_import')">Usuario Importador</div>
                
                <div>Acciones</div> <!-- Columna para acciones -->
            </div>
            <!-- Rows -->
            <ng-container *ngFor="let importador of filteredImportadores; let i = index">
                <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                    <ng-container *ngIf="selectedImportador?.id !== importador.id">
                        <div class="truncate">{{ importador.name }}</div>
                        <div class="truncate">{{ importador.ruc }}</div>
                        <div class="truncate">{{ importador.user_import }}</div>

                    <!-- Mostrar botones solo si no se está editando este país -->
                    <div *ngIf="selectedImportador?.id !== importador.id" class="flex items-center">
                        <button mat-stroked-button (click)="selectImportadorForEdit(importador)" >
                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:pencil-square'"></mat-icon>
                            <span>Editar</span>
                        </button>                        
                    </div>
                    </ng-container>
                    </div>
                    <!-- Formulario de edición para el país actual -->
                    
                    <div *ngIf="selectedImportador?.id === importador.id" @fadeOutRight class="flex items-center">
                        <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                        <input [(ngModel)]="selectedImportador.name" placeholder="Importador" class="flex-1">
                        <input [(ngModel)]="selectedImportador.ruc" placeholder="RUC" class="flex-1">

                        <mat-form-field class="w-full">                            
                            <mat-select [(ngModel)]="selectedImportador.user_import">
                              <mat-option *ngFor="let usuario of usuarios" [value]="usuario.name">
                                {{ usuario.name }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex items-center col-span-1 space-x-1">
                        <button mat-button (click)="updateImportador(selectedImportador)" color="primary">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>                                                     
                        </button>
                        <button mat-button (click)="cancelEdit()" color="accent">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:x-circle'"></mat-icon>                            
                        </button>
                        <button mat-button (click)="deleteImportador(importador.id)" color="warn">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:trash'"></mat-icon> 
                            
                        </button>
                    </div>
                </div>
                </div>
            </ng-container>
        <!--/ng-container-->
            <!-- Fila para agregar un nuevo usuario -->
            <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                <input [(ngModel)]="newImportador.name" placeholder="Nombre">   
                <input [(ngModel)]="newImportador.ruc" placeholder="RUC">  
                <mat-form-field class="w-full">                    
                    <input type="text"
                    placeholder="Usuario"
                    matInput
                    [(ngModel)]="newImportador.user_import"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelected($event)">
                <mat-option *ngFor="let usuario of usuarios" [value]="usuario.name">
                 {{ usuario.name }}
                </mat-option>
                </mat-autocomplete>                       
                </mat-form-field>  
                <div>
                    <!-- Botón para guardar el nuevo usuario -->
                    <button (click)="addImportador()" mat-stroked-button>Guardar</button>
                </div>
            </div>
            
        </ng-container>
        </div>

    </div>

</div>