
@tailwind base;
@tailwind components;
@tailwind utilities;
//@use '/src/styles/styles.scss';
//@use '/src/styles/variables/typography.scss' as type;

.form-container {
  @apply flex flex-auto mt-2 px-6 pt-5 shadow-md rounded-md overflow-hidden;
}

.main-content {
  @apply flex flex-auto lg:flex-row gap-4;
}

.main-section {
  @apply flex-auto lg:w-3/4;
}

.field-container {
  @apply flex gap-4 p-1 rounded-md dark:bg-gray-700;
}

.mat-form-field {
  @apply flex-1;
}

.icon-size {
  // Aquí aplicarías el tamaño correspondiente al icono,
  // por ejemplo, si 'icon-size-5' es 20px, sería algo como:
  font-size: 20px; // Esto es un ejemplo, ajusta al tamaño real que necesitas
}




.selected {
    background-color: chartreuse; /* Cambia este color según tu preferencia */
}

.bg-card {
    @apply bg-blue-100; // Suponiendo que bg-card debe ser un azul claro, cambia según necesites
  }
  
  // Estilos para iconos específicos si no estás utilizando una librería que ya los tenga
  .icon-size-5 {
    @apply w-5 h-5; // Ajusta el tamaño de acuerdo a lo que necesitas
  }
  
  .text-primary-500 {
    @apply text-green-500; // Cambia el color por el que deseas para la clase text-primary
  }
  
  .text-secondary {
    @apply text-gray-400; // Cambia el color por el que deseas para la clase text-secondary
  }

  mat-form-field {
    &.example-form-field {
      @apply w-full; // Asegura que ocupe el ancho completo del contenedor
    }
  }
  
  // Personalizar el mat-paginator si es necesario
  mat-paginator {
    @apply my-2; // Añade un margen vertical si es necesario
  }
  
  // Para los botones de Angular Material, puedes hacer lo siguiente:
  button.mat-icon-button {
    @apply ml-2; // Añade un margen izquierdo si los botones están muy juntos
  }
  
  // Aquí, puedes definir cómo quieres que se vea el botón "Nuevo"
  button.mat-icon-button.new-button {
    @apply flex items-center justify-center bg-blue-500 text-white;
  }
  
  @layer components {
    .btn-primary {
      @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
  }

  .custom-button {
  padding: 0.75rem 1.5rem; /* Padding de 12px en la parte superior e inferior, 24px en los lados */
  margin-left: 0.75rem; /* Margen izquierdo de 12px */
  background-color: #3f51b5; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.custom-button:hover {
  background-color: #303f9f; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.custom-button:focus {
  outline: none; /* Elimina el contorno de enfoque */
}

.custom-button:active {
  background-color: #283593; /* Cambia el color de fondo cuando se presiona el botón */
}
.container {
  display: flex;
  width: 100%; /* Esto asegura que el contenedor ocupe el ancho total de su contenedor padre */
}

.side-left {
  flex: 1; /* Ocupará 1 parte del espacio disponible */
}

.side-right {
  flex: 4; /* Ocupará 4 partes del espacio disponible */
}


//////////////////////////agregar nuevo
/// 
.add-new-year-section {
  position: sticky;
  top: 0;
  background: white;
  padding: 1rem;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.list-years-content {
  padding-top: 1rem; /* Asegúrate de que haya espacio para la sección fija en la parte superior */
}

/////////////////////////////