.tag {
  display: inline-block;
  padding: .1em .3em .1em;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.tag-red {
  background-color: #5675ed;
}

.tag-blue {
  background-color: #0ff90b;
}

.tag-poliol {
  background-color: #c6df08;
}

.create-importacion-button {
  display: flex;
  align-items: center;

  span {
    margin-left: 5px;
  }
}
