<div>
    <mat-toolbar class="mb-4 shadow-lg flex items-center justify-between">
        <button
            (click)="createImportacion()"
            mat-icon-button
            aria-label="Guardar"
            class="create-importacion-button"
        >
            <mat-icon>control_point</mat-icon>
            <span>Nueva Solicitud</span>
        </button>
        <div class="p-4 flex items-center border rounded">
            <mat-icon
                matPrefix
                svgIcon="heroicons_solid:magnifying-glass"
            ></mat-icon>
            <input
                type="text"
                placeholder=" Buscar "
                [(ngModel)]="searchTerm"
                (input)="applyFilter()"
                class="flex-1"
            />
        </div>
    </mat-toolbar>

    <div *ngIf="dataSource" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="solicitud_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha de solicitud
                </th>
                <td mat-cell *matCellDef="let row">{{ row.solicitud_date }}</td>
            </ng-container>

            <ng-container matColumnDef="authorization_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha de autorizacion
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ row.authorization_date }}
                </td>
            </ng-container>

            <ng-container matColumnDef="vue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    No. de solicitud VUE
                </th>
                <td mat-cell *matCellDef="let row">{{ row.vue }}</td>
            </ng-container>

            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
                <td mat-cell *matCellDef="let row">{{ row.month }}</td>
            </ng-container>

            <ng-container matColumnDef="importador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Importador
                </th>
                <td mat-cell *matCellDef="let row">{{ row.importador }}</td>
            </ng-container>

            <ng-container matColumnDef="grupo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tipo de solicitud
                </th>
                <td mat-cell *matCellDef="let row">
                    <span
                        class="tag"
                        [ngClass]="{
                            'tag-red': row.grupo === 'HFC',
                            'tag-blue': row.grupo === 'HCFC',
                            'tag-poliol': row.grupo === 'POLIOLES'
                        }"
                    >
                        {{ row.grupo }}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let row">
                    <button
                        mat-icon-button
                        (click)="editImportacion(row)"
                        aria-label="Editar"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        (click)="deleteImportacion(row)"
                        aria-label="Eliminar"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >
                    Estado
                </th>
                <td mat-cell *matCellDef="let row">{{ row.status }}</td>
            </ng-container>

            <tr mat-header-row sticky *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
    </div>

    <div
        class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
    >
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 50, 100, 200]"
            aria-label="Select page"
        >
        </mat-paginator>
    </div>
</div>
