
@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
    background-color: chartreuse; /* Cambia este color según tu preferencia */
}

.bg-card {
    @apply bg-blue-100; // Suponiendo que bg-card debe ser un azul claro, cambia según necesites
  }
  
  // Estilos para iconos específicos si no estás utilizando una librería que ya los tenga
  .icon-size-5 {
    @apply w-5 h-5; // Ajusta el tamaño de acuerdo a lo que necesitas
  }
  
  .text-primary-500 {
    @apply text-green-500; // Cambia el color por el que deseas para la clase text-primary
  }
  
  .text-secondary {
    @apply text-gray-400; // Cambia el color por el que deseas para la clase text-secondary
  }

  mat-form-field {
    &.example-form-field {
      @apply w-full; // Asegura que ocupe el ancho completo del contenedor
    }
  }
  
  // Personalizar el mat-paginator si es necesario
  mat-paginator {
    @apply my-2; // Añade un margen vertical si es necesario
  }
  
  // Para los botones de Angular Material, puedes hacer lo siguiente:
  button.mat-icon-button {
    @apply ml-2; // Añade un margen izquierdo si los botones están muy juntos
  }
  
  // Aquí, puedes definir cómo quieres que se vea el botón "Nuevo"
  button.mat-icon-button.new-button {
    @apply flex items-center justify-center bg-blue-500 text-white;
  }
  
  @layer components {
    .btn-primary {
      @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
  }

  .custom-button {
  padding: 0.75rem 1.5rem; /* Padding de 12px en la parte superior e inferior, 24px en los lados */
  margin-left: 0.75rem; /* Margen izquierdo de 12px */
  background-color: #3f51b5; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.custom-button:hover {
  background-color: #303f9f; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.custom-button:focus {
  outline: none; /* Elimina el contorno de enfoque */
}

.custom-button:active {
  background-color: #283593; /* Cambia el color de fondo cuando se presiona el botón */
}