<div>
    <h1>Sustancias</h1>
    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <ng-container *ngIf="(sustancias ) as sustancias">
            <div class="grid grid-cols-5 gap-4 py-4 px-6 md:px-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                <div [mat-sort-header]="'name'">Nombre</div>
                <div [mat-sort-header]="'subpartida'">Subpartida</div>
                <div [mat-sort-header]="'pao'">PAO</div>
                <div [mat-sort-header]="'pcg'">PCG</div>
                <div [mat-sort-header]="'grupos_sust'">Grupo de sustancia</div>
                <div [mat-sort-header]="'activo'">Activo</div>
                <div [mat-sort-header]="'cupo_prod'">Cupo producto</div>
                <div [mat-sort-header]="'created_at'">Creado</div>
                <div [mat-sort-header]="'updated_at'">Actualizado</div>
                
                <div>Acciones</div> <!-- Columna para acciones -->
            </div>
            <!-- Rows -->
            <ng-container *ngFor="let sustancia of sustancias">
                <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">
                    <div class="truncate">{{sustancia.name}}</div>
                    <div class="truncate">{{sustancia.subpartida}}</div>
                    <div class="truncate">{{sustancia.pao}}</div>
                    <div class="truncate">{{sustancia.pcg}}</div>
                    <div class="truncate">{{sustancia.grupos_sust}}</div>
                    <div class="truncate">{{sustancia.activo}}</div>
                    <div class="truncate">{{sustancia.cupo_prod}}</div>
                    <div class="truncate">{{sustancia.created_at}}</div>
                    <div class="truncate">{{sustancia.updated_at}}</div>   
                    <div>
                        <!-- Botón para editar la fila -->
                        <button (click)="editSustancia(sustancia)">Editar</button>
                    </div>
                </div>
            </ng-container>
            <!-- Fila para agregar un nuevo sustancia -->
            <div class="grid grid-cols-5 items-center gap-4 py-2 px-6 md:px-12 border-b">
                <input [(ngModel)]="newSustancia.name" placeholder="Nombre">
                <input [(ngModel)]="newSustancia.subpartida" placeholder="Subpartida">
                <input [(ngModel)]="newSustancia.pao" placeholder="PAO">
                <input [(ngModel)]="newSustancia.pcg" placeholder="PCG">
                <input [(ngModel)]="newSustancia.grupos_sust" placeholder="Grupo de sustancia">
                <input [(ngModel)]="newSustancia.activo" placeholder="Activo">
                <input [(ngModel)]="newSustancia.cupo_prod" placeholder="Cupo Producto">
                <input [(ngModel)]="newSustancia.created_at" placeholder="Creado">
                <input [(ngModel)]="newSustancia.updated_at" placeholder="Modificado">  
                <div>
                    <!-- Botón para guardar el nuevo sustancia -->
                    <button (click)="addSustancia()">Guardar</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
