<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
       
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Lista de Proveedors
                </h2>
            </div>
        </div>       
        <div class="p-4 flex items-center border rounded">
            <mat-icon matPrefix svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
            <input type="text" placeholder=" Buscar" [(ngModel)]="searchTerm" (input)="applyFilter()" class="flex-1">
        </div>  
    </div>     
    <div
        class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
        <ng-container *ngIf="(proveedors ) as proveedors">
            <div class="grid grid-cols-4 gap-4 py-4 px-6 md:px-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                <div [mat-sort-header]="'name'" (click)="orderBy('name')">Nombre</div>
                <div [mat-sort-header]="'country'" (click)="orderBy('country')">Country</div>
                <div [mat-sort-header]="'activo'" (click)="orderBy('activo')">Activo</div>
                                
                <div>Acciones</div> <!-- Columna para acciones -->
            </div>
            <!-- Rows -->
            <ng-container *ngFor="let proveedor of filteredProveedors; let i = index">
                <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                    <!-- Solo mostrar campos si no se está editando este país en particular -->
                    <ng-container *ngIf="selectedProveedor?.id !== proveedor.id">
                        <div class="truncate">{{ proveedor.name }}</div>
                        <div class="truncate">{{ proveedor.country }}</div>
                        <div class="flex items-center justify-start col-span-1">
                            <mat-slide-toggle [(ngModel)]="proveedor.activo" disabled/>                                              
                        </div>
                    
                    <!-- Mostrar botones solo si no se está editando este país -->
                    <div *ngIf="selectedProveedor?.id !== proveedor.id" class="flex items-center">
                        <button mat-stroked-button (click)="selectProveedorForEdit(proveedor)" >
                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_mini:pencil-square'"></mat-icon>
                            <span>Editar</span>
                        </button>                        
                    </div>    
                    </ng-container> 
                </div> 

                    <!-- Formulario de edición para el país actual -->                    
                    <div *ngIf="selectedProveedor?.id === proveedor.id" @fadeOutRight class="flex items-center">
                        <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                        <input [(ngModel)]="selectedProveedor.name" placeholder="Nombre" class="flex-1">
                        <mat-form-field class="w-full">                            
                            <mat-select [(ngModel)]="selectedProveedor.country" name="countrys">
                              <mat-option *ngFor="let country2 of countrys" [value]="country2.name">
                                {{ country2.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                        <mat-slide-toggle
                          [(ngModel)]="selectedProveedor.activo"
                          (change)="onActivoChange($event, selectedProveedor)"/>

                        <div class="flex items-center col-span-1 space-x-1">
                        <button mat-icon-button (click)="updateProveedor(selectedProveedor)" color="primary">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>                                                     
                        </button>
                        <button mat-icon-button (click)="cancelEdit()" color="accent">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:x-circle'"></mat-icon>                            
                        </button>
                        <button mat-icon-button (click)="deleteProveedor(proveedor.id)" color="warn">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_mini:trash'"></mat-icon>                             
                        </button>
                    </div>
                    </div>
                    </div>
                    
                
            </ng-container>
            <!-- Fila para agregar un nuevo proveedor -->
            <div class="grid grid-cols-4 items-center gap-4 py-2 px-6 md:px-12 border-b">
                <input [(ngModel)]="newProveedor.name" placeholder="Nombre">
                <mat-form-field class="w-full">                    
                    <input type="text"
                    placeholder="País"
                    matInput
                    [(ngModel)]="newProveedor.country"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPaisSelected($event)">
                <mat-option *ngFor="let country2 of countrys" [value]="country2.name">
                 {{ country2.name }}
                </mat-option>
                </mat-autocomplete>                       
                </mat-form-field>  
                <mat-slide-toggle ngModel name="activo" [(ngModel)]="newProveedor.activo"/>

                <div>
                    <!-- Botón para guardar el nuevo proveedor -->
                    <button (click)="addProveedor()" mat-stroked-button color="primary">Guardar</button>
                </div>
            </div>
            
        </ng-container>
    </div>
    </div>
</div>
